.turbo-overlay-busy {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #99646464;
    background-color: rgba(100, 100, 100, 0.5);
    display: none;
}